@model System.Linq.IQueryable<BL.CategoryViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<section>
<ul>

    @foreach (var category in @Model)
    {
        <li>
            @category.Name
        </li>
    }
</ul>
</section>